*{
	margin: auto;
	padding:auto;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 30px;
    background-color: #000000;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background:  #94070c;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #cc0f0f; 
  }
#container{
    width:100%;
    height:100%;
}
#i1{
	background-image:url('border3.png');
	background-color:#686868;
	width:100%;
	height:250px ;
	 text-align: center;
  	text-shadow: 3px 1px  #000000;
  	font-family: 'Italianno';
}
#i2{
	height:1150px;
	width: 100%;
	text-align: center;
  	text-shadow: 1px -1px  #000000;
  	font-family: 'Italianno';
  	background-image:url(border.png);
}
#i3{
	text-align: center;
	text-shadow: 1px -1px  #000000;
  	font-family: 'Italianno';
  	background-image:url(line1.png);
}
#address{
	width:100%;
	height:145px;
	background-image:url('border2.png');
	text-shadow: 1px -1px  #000000;
  	font-family: 'Italianno';
}
#i4{
	width:100%;
	height: auto;
	background-color: red;
	text-align: center;
	text-shadow: 1px -1px  #000000;
  	font-family: 'Italianno';
}		