body {
    height: auto;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    background-color:  rgba(126, 205, 78, 0.769);;
    text-align: center;
header{
    text-align: center;
}
#container{
    width:100%;
    height:auto;
    text-align: center;
}