*{
	margin: auto;
	padding:auto;
}
#container{
    width:100%;
    height:100%;
}
#i1{
    background-color: #b35900;
    height: 50px;
    width: 100%;
    text-align: inline;
}
#i3{
	background-color:#757e67;
	height:90px;
	width:30%;
	float:left;
	text-align: center;
}
#i4{
	background-color:#757e67;
	height:90px;
	width:30%;
	float:left;
	text-align: center;
	 }
 #i5{
        background-color:#757e67;
        height:90px;
        width:40%;
        float:left;
        text-align: center;
 }
 #i6{
    background-color:#43215f;
    height:320px;
    width:100%;
    float:left;
    text-align: left;
}
#i7{
	height:95px;
	width:30%;
	float:left;
	text-align: center;
}
#i8{
	height:150px;
	width:30%;
	float:left;
	text-align:auto;
}
#i9{
    height:95px;
	width:30%;
	float:Right;
	text-align:auto;
}   
#i10{
	background-color: blue;
	height:30px;
	width:100%;
	text-align:center;
	float:left;
}